# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
.pnp.cjs
.pnp.loader.mjs

# Build output
dist/

# Vite cache
.vite/

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

# Tests / Coverage
coverage/


# Editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Packages
*.tgz

# Temp
tmp/
temp/
*.local
